.leftdiv
{
    flex-direction: column;
}
.leftdiv > *
{
 margin: 5px; 
 padding: 10px;
 padding-left: 20px;
 margin-top: 10px;


     
}
.a 
{
    padding-top: 23px;
     padding-bottom:50px;
     padding-top: 35px;
}
.div
{ 
    flex-direction:row;
    display: inline-flex;

}

.rightdiv
{display: flex;
    flex-wrap: wrap;
    border-left: 1px solid  ;
    border-color: rgba(42, 52, 48, 0.32);
    margin-left: 10px;
    
    
}
 .astroy
{
    border:40px solid;
   border-color: rgb(255, 255, 255);
    border-radius:60% ;
    margin-left: 40px;
    margin-bottom: 150;

}

.astory
{
    margin-bottom: 100px;
    display: flex;
}
 

.img
{
    width: 100px;
    opacity: 99%;   
}
.para
{
    margin-left:13px;
    }
.imgb
{
  margin-top: 37px;
}
.cimg
{
    border: 45px solid;
    border-color: black;
    border-radius: 50%;
    height: 5px;
    margin-top: 40px;
    margin-left: 45px;
    background-color: red;
    height:9px;
    width:9px;
    justify-content: center; 
    display: flex;
   
}
.cp
{
    margin-top:73px ;

}
.arrow
{
    width:30px;
    height: 30px;
    display: flex;
    margin-top: 90px;
padding-left: 50px;

}

.dstory
{
    border: 45px solid;
    border-color: black;
    border-radius: 50%;
    height: 5px;
    margin-top: 40px;
    margin-left: 45px;
    background-color: blue;
    height:9px;
    width:9px;
    justify-content: center; 
    display: flex;
   
}
.estory
{
    border: 45px solid;
    border-color: rgb(24, 194, 67);
    border-radius: 50%;
    height: 5px;
    margin-top: 40px;
    margin-left: 45px;
   
    height:9px;
    width:9px;
    justify-content: center; 
    display: flex;
   
}
.fstory
{
    margin-left: 32px;
    margin-top: 28px;
}
.pr{
    margin-left: 50px;
    
}
.suugg
{
    display: flex;
    margin-left: 200px;
}
.suggimg
{
    margin-left: 75px;
    margin-top:30px;
}
.op
{
    margin-right:15px;
    margin-top: 90px;
    display: flex;
flex-direction: column;
}
.switch
{
    padding-left:120px;
    margin-top: 90px;
    color:rgb(23, 136, 235) ;
}

.rightr
{
    margin-top: 80px;
    margin-left: 50px;
}
.image1 
{
    margin-left: 150px;
    margin-bottom: 200p;
}
.fin
{
    margin-left: 230px;
    
}
.var
 {
    margin-left: 30px;
 }
 h5{
    color: #346ea0;
 }